<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mprog.nl.programmeerproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LogInActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.CreateProfileActivity" />
        <activity android:name=".Activities.FindUserActivity" />
        <activity android:name=".Activities.SpecificUserActivity" />
        <activity android:name=".Activities.ChatActvity" />
        <activity android:name=".Activities.SpecificChatActivity" />
        <activity android:name=".Activities.CreateProfileSecondActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.SchemeActivity" />
        <activity android:name=".Activities.CreateSchemeActivity" />
        <activity android:name=".Activities.SearchSchemeActivity" />
        <activity android:name=".Activities.SpecificSchemeActivity" />
        <activity android:name=".Activities.EditSchemeActivity"></activity>
    </application>

</manifest>